.AddMealTemplateComponent .meal-buttons button {
    border-radius: 10px;
    margin: 0 3px;
}
.AddMealTemplateComponent .meal-buttons .primary-color {
    background-color: #00a4f8;
    color: #fff;
}

.AddMealTemplateComponent .meal-buttons .danger-color {
    background-color: #ee6d52;
    color: #ffffff;
}