.img-thumbnail{
    height: 250px;
    overflow: hidden;
    text-align: center;
    border-radius: 18px;
}
.mealItemsList{
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0 1px 20px;
    margin: 1rem  1rem 0 1rem;
    padding: 1rem;
}
.mealItemsList img{
    max-height: 50px;
    width: 100%;
}
textarea{
    resize: none;
}