.trainee-card {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 1.5rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.trainee-card .user-img {
    margin: auto;
    margin-top: 8px;

    width: 56px;
    height: 56px;
    overflow: hidden;
    border-radius: 56px;

}

.trainee-card .user-img img {
    width: 100%;
    height: 100%;
}

.trainee-card .user-name , .trainee-card .remaining-days {
    text-align: center;
}
.trainee-card .user-name {
    padding:  0;
    margin-top: 8px;
}
.trainee-card .user-name  span {
    font-weight: 600;
    font-size: 16px;
}
.trainee-card .action-icons {
    margin-top: 10px;
}
.trainee-card .action-icons .ico {
    margin: 0 8px;
}
.trainee-card .action-icons .ico img {
    width: 30px;
    height: 30px;
    cursor: pointer;

}
.d-none {
    display: none !important;
}
.ico .ui.basic.blue.button,.ico .ui.basic.blue.buttons .button{
    box-shadow: none !important;
}
.ico .ui.basic.blue.button svg{
    font-size: 2rem;
}